<launch>
    <arg name="ip" default="192.168.1.1" />
    <arg name="port" default="502" />
    <arg name="gripper_name" default="onrobot_rg2ft" />

    <node pkg="onrobot_rg2ft_control" type="OnRobotRG2FTDriver.py" name="onrobot_rg2ft_driver"
        output="screen" ns="$(arg gripper_name)">
        <param name="ip" value="$(arg ip)" />
        <param name="port" value="$(arg port)" />
    </node>

    <node pkg="onrobot_rg2ft_action_server" type="onrobot_rg2ft_action_server" name="onrobot_rg2ft_action_server" output="screen">
        <param name="min_angle" type="double" value="0.0" />
        <param name="max_angle" type="double" value="1.18" />
        <param name="min_effort" type="double" value="3.0" />
        <param name="max_effort" type="double" value="40.0" />
        <param name="default_effort" type="double" value="20.0" />
        <param name="action_server_name" type="str" value="gripper_controller/gripper_cmd" />
        <param name="control_topic" type="str" value="$(arg gripper_name)/command" />
        <param name="state_topic" type="str" value="$(arg gripper_name)/state" />
        <param name="joint_states_topic" type="str" value="joint_states" />
        <param name="joint_name" type="str" value="finger_joint" />
    </node>

</launch>
